version: "3.9"
services:
  api:
    build: .
    container_name: transporte-escolar-api
    environment:
      - PORT=8080
      - FLASK_ENV=production
    ports:
      - "8080:8080"
    restart: unless-stopped